# Build artifacts
build/
conan/

# Doxygen output
docs_output/

# CMake local files
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake-install.cmake
Makefile

# IDE / editor junk
.vscode/
.idea/
*.swp
*.swo
*.user

# Compiled objects / binaries
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe

# Logs
*.log

# Misc
cmake-build-*/

